<div style='border: 3px dashed red'>
  <h1>My name is <%=%w(Amigo Misty Almond).sample%></h1>
 <img src='https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/18/22/18-22-301P__CENTER/Sneaky-Cat-Laura-Graves-Canvas-Print.jpg'>
</div>
